<header>
  <div class="container">
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse">
        <a routerLink="/" class="navbar-brand">Thermometer</a>
        <ul class="nav navbar-nav">
          <li class="nav-item" routerLinkActive="active" *ngIf="isDevMode">
            <a class="nav-link" routerLink="/assumptions">Assumptions (demo)</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/questionnaire">Questionnaire</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="isDevMode">
            <a class="nav-link" routerLink="/study">Study</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
