<div class="container float-left" style="max-width: 800px;">
  <form (ngSubmit)="onSubmit()" #questionnaireForm="ngForm">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-1 text-nowrap response-col">Often true</div>
      <div class="col-md-1 text-nowrap response-col">Often untrue</div>
    </div>
    <app-assumption-response *ngFor="let item of assumptions; let index = index"
      [assumption_text]="item.assumption.assumption_text" [(ngModel)]="item.responseValue.value"
      name="{{ 'assumption_' + item.assumption.id }}" required>
    </app-assumption-response>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2 response-col">
        <button class="btn btn-primary" type="submit" [disabled]="!questionnaireForm.valid">
          I'm done
        </button>
      </div>
    </div>
  </form>
</div>
