<div class="row">
  <div class="col-md-8">
    <label>
      {{ assumption_text }}
    </label>
  </div>
  <div class="col-md-1 response-col">
    <app-response [response]="true" [isSelected]="positiveSelected" (selected)="writeValue($event)"></app-response>
  </div>
  <div class="col-md-1 response-col">
    <app-response [response]="false" [isSelected]="negativeSelected" (selected)="writeValue($event)"></app-response>
  </div>
</div>
