<footer class="footer">
  <div class="container">
    <span class="text-muted" style="float: left;">
      Version: {{ version }}
    </span>
    <span class="text-muted" style="float: right;">
        Report bugs <a href="https://gitlab.com/dympsz/ttemp/issues">here</a>
      </span>
    </div>
</footer>
